@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/p77_1.png" alt="menu" />

<h2>炸/烤 BAKED N' FRIED</h2>
<ul>
    <li class="foodpic"><img src="~/p72.png" /></li>
    <li class="foodpic"><img src="~/p73.png" /></li>
</ul>

<h2>蒸 STEAMED</h2>
<ul>
    <li class="foodpic"><img src="~/p59.png" /></li>
    <li class="foodpic"><img src="~/p60.png" /></li>
</ul>

<h2>甜品 SWEETS</h2>
<ul>
    <li class="foodpic"><img src="~/p89.png" /></li>
    <li class="foodpic"><img src="~/p90.png" /></li>
</ul>

<h2>厨点 KITCHEN SPECIAL</h2>
<ul>
    <li class="foodpic"><img src="~/p244.png" /></li>
    <li class="foodpic"><img src="~/p245.png" /></li>
</ul>
