/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html,*{
    text-align:center;
}
body{
    padding-left:25px;
    padding-right:25px;
}
ul{
    list-style-type:none;
    width:100%;
}
   header ul li a {
        color: rgb(142, 142, 142);
        font-family: Poly;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 14px 14px 10px;
    }
        header ul li a:hover {
            text-decoration: none;
            color: rgb(142, 142, 142);
        }
#navigation:before, #navigation:after {
    background-color: #d0d0d0;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: .1em;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
table{
    width:100%;
}

h2 {
    color: rgb(81, 81, 81);
    font-size:40px;
    font-family:Poly;
    padding-top:20px;
}
.foodpic {
    display: inline;
}
.foodpic img{
    height:128px;
    width:128px;
    margin:0;
}